/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: linear-gradient(to bottom right, #ECF2FF, #C7E0FE);
}

$primary: #58AFE8;
$font-family-base: 'Raleway';

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

.navbar-title {
  font-weight: bold;
}


